.dropdown {
  position: relative;

  &-button {
    gap: 8px;
    display: flex;
    align-items: center;
    border: 0;
    color: #0ea5e9;
    box-shadow: none;
    background-color: transparent;

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    }

    svg {
      transform: rotate(90deg);
    }
  }

  &-content {
    right: 0;
    top: 100%;
    z-index: 1;
    position: absolute;
    width: 150%;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    border: 2px solid #7dd3fc;
    background-color: #f0f9ff;

    li {
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;
      padding: 8px 10px 6px 10px;

      &:hover {
        background-color: #bae6fd;
      }
    }
  }
}
